@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #dadada;
    --card: #bebebe;
    --border: #abaaaa;
    --input: #cdcdcd;
    --button: #c0c0c0;
    --buttonDisabledBackground: #a8a8a8;
    --buttonDisabledText: #7a7a7a;
    --buttonHover: #c9c8c8;
    --text: #202020;
  }
}